* {
    font-family: 'Syne', sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background-color: rgba(0, 0, 0, 0.911);
    display:flex;
    flex-wrap: wrap;  
    scroll-behavior: smooth;  
    
}

header {
    position:fixed;
}

nav {
    color: cornsilk;
    margin-left: 10px;
    
}

header {  
    width: 20%;
    height: 100vh;
    animation: bodynav ease-in-out;
    animation-duration: 2s;

}



#buttonback {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#clickback {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    margin-top:30px;
    
}

#clickback:hover {
    animation: animationbtn infinite;
    animation-duration: 2s;
    transition: 1.5s;
    font-size: 45px;
}

@keyframes  animationbtn {
    25% {border: 6px   double whitesmoke;}
    50% {border: 8px   solid whitesmoke ;}
    75% {border: 10px  double whitesmoke}
    100% {border: 6px solid whitesmoke;}
}

@keyframes bodynav {
    0% {background: cornsilk;opacity: 0%;}
   60% {background: cornsilk;opacity: 70%;}
    to {}

}

#contact {
    font-size: 4vw;
}

main {
    width: 80%;
    height: 100vh;
    font-size: 2.5vw;
    color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

fieldset {
    border-radius: 5px;
}

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    text-align:center;
    text-decoration: none;
}

#envoyer {
    color: white;
    background: rgb(60 58 58 / 91%);
}

#experience {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    color: cornsilk;
}

h1 {
    align-items: center;
    color: cornsilk;
    width: 100%;
}

a {
    color: unset;
    text-decoration: unset;
}